<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal12/base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>Add Contact Page</title>

</head>
<body>
<section>

    <div class="card mr-3 ml-3">

        <div class="card-body">

            <h1 class="text-center">Add Contact</h1>

            <div class="container-fluid mt-1">

                <div class="row">

                    <div class="col-md-8 offset-md-2">

                        <form action="#"
                        th:object="${contact}"
                        enctype="multipart/form-data"
                        method="post"
                        th:action="@{/user/process-contact}"
                        class="mt-2"
                        >

                        <!--  First Name-->
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fa fa-plus "></i>
                                    </div>
                                </div>
                                <input required type="text" name="name" id="firstName" placeholder="enter your name" class="form-control">
                            </div>

                            <!--  Nickname -->
                            <div class="input-group mt-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fas fa-user-alt "></i>
                                    </div>
                                </div>
                                <input required type="text" name="nickName" id="secondName" placeholder="enter your nickname" class="form-control">
                            </div>

                            <!--  Phone Number -->
                            <div class="input-group mt-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fas fa-phone "></i>
                                    </div>
                                </div>
                                <input type="number" name="phone" id="phone" placeholder="enter your phone number" class="form-control" required>
                            </div>

                            <!--  email field -->
                            <div class="input-group mt-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        @
                                    </div>
                                </div>
                                <input required type="email" name="email" id="email" placeholder="enter your email" class="form-control">
                            </div>

                            <!--  work field -->
                            <div class="input-group mt-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fa fa-briefcase "></i>
                                    </div>
                                </div>
                                <input type="text" name="work" id="work" placeholder="enter your work" class="form-control">
                            </div>

                            <!--  contact description -->
                            <div class="form-group mt-3">
                                <textarea name="description" id="myTextarea" rows="8" placeholder="enter your contact description" class="form-control"></textarea>
                            </div>

                            <!--  contact description -->
                            <div class="custom-file">
                                <input type="file" name="profileImage">
                            </div>

                            <div class="container text-center">
                                <button class="btn btn-outline-primary">Save Contact</button>
                            </div>

                        </form>

                    </div>

                </div>

            </div>

        </div>

    </div>


    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js"
            referrerpolicy="origin"></script>

    <script>
    tinymce.init({selector:'#myTextarea'});
    </script>

    <script>
        $(document).ready(()=>{
        $(".item").removeClass("active");
        $("#add-link").addClass("active");
        });
    </script>

</section>
</body>
</html>