body{
    background-color:#e3e3e3;
}

.bg-primary{
    background:#009688 !important;
}

.banner{
    width:100%;
    height:93vh;
    background:linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)) ,url(../img/img1.jpg);
    background-size: cover;
    color:white;
}

.my-card{
    padding:20px;
    background:#FFFFFF;
}

#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 420px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}


/* side bar style */

@media only screen and (max-width: 600px) {

.sideBar{
 display:none;
 width:80% !important;
 background:white;
 height:100vh;
 position:fixed;
 padding-top:20px;
}

.content{
margin-left: 0% !important;
}

}

.sideBar{
 width:18%;
 background:white;
 height:100%;
 position:fixed;
 padding-top:45px;
 z-index:1000;
}

.sideBar a{
display:block;
width:100%;
padding:10px 25px;
text-decoration:none;
color:green;
}

.sideBar .divider{
height:5px;
width:100%;
background:#e2e2e2;
margin-top:10px;
}

/*
.sideBar a:hover{
background:green;
}
*/


.sideBar a:active {
  color: yellow;
  background:pink;
}

/* side bar style */
.content{
margin-left:20%;
}

.sideBar .crossBtn{
position:absolute;
top:0px;
right:35px;
font-size:36px;
cursor:pointer;
}

.my_profile{
    width:30px;
    height:30px;
    border-radius:50%;
    object-fit:cover;
    border:1px solid black;
}



.bg {
  /* The image used */
  background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).webp");
  /* Full height */
  height: 100vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

 /* search bar */
 .search-container{
 position:relative;
 }

 .search-result{
 position:absolute;
 width:100%;
 padding:10px;
 border:1px solid black;
 display:none;
 }

 /* active link  */
 .active{
 background:green;
 color:white !important;
 }