<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>Title</title>

</head>
<body>
<section>

        <div class="card" style="margin:0px 100px;">
            <div class="row align-items-center">

                <div class="col-12 col-md-6">
                    <div class="my-4 mb-50">
                        <img src="#" th:src="@{/img/aboutUs2.jpg}" alt="" style="width:auto; height:90vh;">
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="about-us-content mb-50">

                        <div class="section-heading">
                            <h1>About Us</h1>
                            <progress></progress><br><br>
                            <div class="line"></div>
                        </div>

                        <h5>This is the best website to store contacts. User can Register your account and then add contacts in cloud. User can retrieve contacts any time anywhere.</h5>

                    </div>
                </div>
            </div>
        </div>

</section>
</body>
</html>