<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>Home Page</title>
</head>
<body>
    <section class="banner d-flex justify-content-center align-items-center">
        <div class="text-center">
        <h1 class="font-weight-bold">Smart Contact Manager</h1>
        <p>fkldfskljdfskjldfskjl kjldskl kjldskldf kjldskl kjldfkdfkl kldskjlfkjlds
            ldfsklj ldfsklk kjdfkjl kjldfsklk</p>
            <button class="btn bg-primary btn-lg text-white">Get Start</button>
        </div>
    </section>
</body>
</html>