<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>Title</title>

</head>
<body>
<section>
    <div class="container">
        <div class="row">

            <div class="col-md-8 offset-md-2">

                <div class="my-card mt-1 rounded">

                    <div th:if="${session.message}"  th:classappend="${session.message.type}" class="alert" role="alert">
                        <p class="text-center" th:text="${session.message.content}"></p>
                        <th:block th:text="${#session.removeAttribute('message')}"></th:block>
                    </div>

                    <div class="container text-center">
                        <img style="width:80px;" th:src="@{/img/membership.png}">
                    </div>

                    <h1 class="text-center">Register Here</h1>

                    <form novalidate action="" th:action="@{/do_register}" method="post" th:object="${user}">


                        <!--name field-->
                        <div class="form-group">

                            <label for="name_field" class="form-label">Your Name</label>

                            <input type="text"
                                   name="name"
                                   th:classappend="${#fields.hasErrors('name') ? 'is-invalid' : ''}"
                                   class="form-control"
                                   id="name_field"
                                   aria-describedby="emailHelp"
                                   placeholder="enter your name"
                                   required
                                   th:value="${user.name}"
                            />

                            <div class="invalid-feedback" th:each="e : ${#fields.errors('name')}" th:text="${e}"></div>

                        </div>


                        <!--email field-->
                        <div class="form-group">

                            <label for="email_field" class="form-label">Your Email</label>

                            <input type="email"
                                   name="email"
                                   class="form-control"
                                   th:classappend="${#fields.hasErrors('email') ? 'is-invalid' : ''}"
                                   id="email_field"
                                   aria-describedby="emailHelp"
                                   placeholder="enter your email"
                                   required
                                   th:value="${user.email}"
                                   />
                            <div class="invalid-feedback" th:each="e : ${#fields.errors('email')}" th:text="${e}"></div>
                        </div>


                        <!--password field-->
                        <div class="form-group">

                            <label for="password_field" class="form-label">Your Password</label>

                            <input type="password"
                                   name="password"
                                   class="form-control"
                                   th:classappend="${#fields.hasErrors('password') ? 'is-invalid' : ''}"
                                   id="password_field"
                                   aria-describedby="emailHelp"
                                   placeholder="enter your password"
                                   required
                            />

                            <div class="invalid-feedback" th:each="e : ${#fields.errors('password')}" th:text="${e}"></div>

                        </div>


                        <!--about field-->
                        <div class="form-group">

                            <textarea name="about" placeholder="Enter something yourself" rows="6" class="form-control" th:text="${user.about}"></textarea>
                        </div>

                        <!--terms and conditions field-->
                        <div class="form-group form-check text-center">

                            <input type="checkbox"
                            name="agreement"
                            class="form-check-input
"                           id="agreement"/>

                            <label for="agreement">Accept terms and conditions</label>
                        </div>

                        <!--buttons-->
                        <div class="container text-center">
                            <button type="submit" class="btn bg-primary text-white">
                                Submit
                            </button>
                            <button type="reset" class="btn btn-warning">
                                Reset
                            </button>
                        </div>

                    </form>

                </div>

            </div>

        </div>
    </div>
</section>
</body>
</html>